/* Jumbotron */

.jumbotron {
    background: url("../img/jumbotron_default.jpg") no-repeat center center;
    background-size: cover;
    border-radius: 0;
}

.display-1 {
    color: white;
}

@keyframes showTitles {
    0% {
        transform: scale(0.65);
        -webkit-transform: scale(0.65);
        -ms-transform: scale(0.65);
        opacity: 0;
    }
    100% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
        opacity: 1;
    }
}

header .display-1 {
    font-size: 2.5rem;
    animation: 700ms ease 0s 1 showTitles;
    -webkit-animation: 700ms ease 0s 1 showTitles;
    -ms-animation: 700ms ease 0s 1 showTitles;
}

@media (min-width:576px) {
    header .display-1 {
        font-size: 2.7rem;
    }
}

@media (min-width:768px) {
    header .display-1 {
        font-size: 3.5rem;
    }
}

@media (min-width:992px) {
    header .display-1 {
        font-size: 4.2rem;
    }
}

/* Text block */

.text-block {
    font-size: 1rem;
}

@media (min-width:768px) {
    .text-block {
        font-size: 1.1rem;
    }
}

@media (max-width:315px) {
    .btn-lg {
        font-size: 1.1rem;
    }
}