.unsel {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* NavigationBar title */

@media (max-width: 424.98px) {
    h3 {
        font-size: 1.45rem!important;
    }
}

/* NavigationBar toggler */
.navbar-toggler:focus, .navbar-toggler:active, .navbar-toggler-icon:focus {
    /* Hiding default border */
    border: 1px solid #fff;
    border-radius: .25rem;
    /* Showing outline */
    outline: 5px auto #007bff;
}

/* Footer */

.text-footer {
    font-size: 1.1rem;
}

@media (max-width:329px) {
    .text-footer {
        font-size: .9rem;
    }
}

.svg-footer {
    display: inline-block;
    font-size: inherit;
    width: 1.3em;
    height: 1.3rem;
    overflow: visible;
    vertical-align: -.11em;
}

.f-email-icon {
    padding-left: 8px;
}

.social-links a {
    text-decoration: none;
    padding-left: 5px;
    font-size: 1.25rem;
}

.social-links a:hover {
    color: #195ea2;
    cursor: pointer;
}