.unsel {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hidden {
    opacity: 0;
}

/* NavigationBar title */
@media (max-width: 424.98px) {
    h3 {
        font-size: 1.45rem!important;
    }
}

@media (min-width: 992px) {
    .navbar-brand {
        transition: transform 220ms;
    }
    
    .navbar-brand:hover {
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
    }
}

 /*NavigationBar toggler*/
.navbar-toggler:focus {
    /*Hiding default border*/
    border-color: #fff;
    /* Showing outline */
    outline: .25rem auto #007bff;
}

/* Footer */

.text-footer {
    font-size: 1.1rem;
}

@media (max-width:329px) {
    .text-footer {
        font-size: .9rem;
    }
}

.svg-footer {
    display: inline-block;
    font-size: inherit;
    width: 1.3em;
    height: 1.3rem;
    overflow: visible;
    vertical-align: -.11em;
}

.f-email-icon {
    padding-left: 8px;
}

.social-links a {
    text-decoration: none;
    padding-left: 5px;
    font-size: 1.25rem;
}

.social-links a:hover {
    color: #195ea2;
    cursor: pointer;
}