.jumbotron {
    background: url("../img/jumbotron.jpg") no-repeat center center;
    background-size: cover;
    border-radius: 0;
}

.btn-lg {
    border-width:2px;
    border-radius:.8rem;
    font-size: x-large;
}