.jumbotron {
    background: url("../img/jumbotron_default.jpg") no-repeat center center;
    background-size: cover;
    border-radius: 0;
}

.display-1 {
    color: white;
}

.lead {
    color: white;
}

header .display-1 {
    font-size: 2rem;
}

header .lead {
    font-size: 1.4rem;
}

@media (min-width:576px) {
    header .display-1 {
        font-size: 2.7rem;
    }
    header .lead {
        font-size: 1.9rem;
    }
}

@media (min-width:768px) {
    header .display-1 {
        font-size: 3.5rem;
    }
    header .lead {
        font-size: 2.1rem;
    }
}

@media (min-width:992px) {
    header .display-1 {
        font-size: 4.2rem;
    }
    header .lead {
        font-size: 2.3rem;
    }
}

.unsel {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-lg {
    border-width: 2px;
    border-radius: .8rem;
    font-size: x-large;
}

.card {
    border-radius: .6rem;
    transition: box-shadow .3s;
    box-shadow: 0 8px 16px rgba(33, 33, 33, 0.05), 0 5px 5px rgba(33, 33, 33, 0.05);
}

.card-img-top {
    padding: .2rem;
}

.card-footer {
    background-color: rgba(255, 255, 255, 0);
}

.card:hover {
    box-shadow: 0 8px 16px rgba(33, 33, 33, .2), 0 5px 5px rgba(33, 33, 33, 0.2);
}